@media(max-width:1480px){
    section{
        .the-best{
            .cards:hover{
                .tooltip-1, .tooltip-2, .tooltip-3{
                    width: 400px;
                    img{
                        width: 200px;
                        padding-bottom: 10px;
                    }
                    .tooltip-1-text, .tooltip-2-text, .tooltip-3-text{
                        h3{
                            padding-top: 10px;
                            padding-right: 10px;
                        }
                        p{
                            padding-right: 10px;
                            padding-top: 5px;
                        }
                        a{
                            padding-bottom: 10px;
                            padding-right: 10px;
                        }
                    }
                } 
            }
 
        }
    }
}
@media(max-width:1280px){
    section{
        .the-best{
            .cards:hover{
                .tooltip-1, .tooltip-2, .tooltip-3{
                    display: flex;
                    flex-direction: column;
                    top:250px;
                } 
            }
            .card-1:hover .tooltip-1{
                left:100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
            }
            .card-2:hover .tooltip-2{
                left:430px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
            }
            .card-3:hover .tooltip-3{
                left:760px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
            }
 
        }
    }
}
@media(max-width:1280px){
    section{
        .the-best{
            .cards{
                .tooltip-1, .tooltip-2, .tooltip-3{
                    display: none;
                    opacity: 0;
                } 
            }
            .cards:hover{
                .tooltip-1, .tooltip-2, .tooltip-3{
                    display: none;
                    opacity: 0;
                }
            }
        }
    }
}
@media (max-width:1340px) {
    section{
        .mini-grants{
            .mini-grants-bg{
                width:900px;
                .mini-grants-logo{
                    gap:0px;
                }
            }
        }
    }
}
@media (max-width:1050px){
    section{
        .team{
            .team-people{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap:0;
                .person{
                    width: 75%;
                    img{
                        bottom:335px;
                    }
                }
                .person-5, .person-6, .person-7{
                    margin-top: 50px;
                    img{
                        bottom:170px;
                    }
                }
            }
        }
    }
}

@media (max-width:950px) {
    section{
        .mini-grants{
            .mini-grants-bg{
                width:700px;
                .mini-grants-logo{
                    display: grid;
                    grid-template-columns: 1fr;

                    span{
                        width: 100%;
                        text-align: center;
                    }
                    div{
                        display: none;
                    }
                }
                .mini-grants-text{
                    font-size: 0.7rem;
                }
            }

        }
    }
    footer{
        .inner-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: start;
            justify-content: center;

        }
        .social-links{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:25px;
            .location{
                margin-right: 20px;
            }
            p{
                font-size: 0.7rem;
            }
            .social{
                display: flex;
                flex-direction: row;
            }
            .phone-numbers{
                margin:0;
            }
            .logo{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{
                        display: block;
                    }
                    img{
                        padding: 0;
                    }
                }
                
            }
        }
        .partners{
            display: grid;
            grid-template-columns: 1fr;
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                a{
                    img{
                        display: inline;
                    }
                }
            }
            a{
                img{
                    height: 80px;
                }
            }
        }
    }
}

@media (max-width:930px){
    html{
        font-size: 14px;
    }
    section{
        .the-best{
            .the-best-places{
                .cards{
                    width: 150px;
                    img{
                        width: 150px;
                    }
                    p{
                        font-size: 12px;
                        padding: 10px 0;
                        line-height: 18px;
                    }
                }
                .card-2{
                    p{
                        margin:9px 0;
                    }
                }
            }
            .tooltip-1, .tooltip-2, .tooltip-3{
                display: none;
                opacity: 0;
            }
            .cards:hover{
                .tooltip-1, .tooltip-2, .tooltip-3{
                    display: none;
                    opacity: 0;
                }
            }

        }
    }
    footer .social-links .location {
        margin-right: 0;
    }
}


@media (max-width:860px){
    svg{
        display: block;
        position: relative;
        float: right;
        z-index:10011;
        
    }
    .navigation .navigation-links ul {
        display: none;
    }
    .navigation .lang {
        display: none;
    }
    .menu-adaptive{
        position: absolute;
        display: flex;
        flex-direction: row;
        background-color: #4B2E23;
        width: 350px;
        height: 360px;
        top:-400px;
        right: 40px;
        -webkit-box-shadow: 4px 7px 17px 18px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 4px 7px 17px 18px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 7px 17px 18px rgba(0, 0, 0, 0.3);
        transition: all 1s;
        ul{
            padding-top: 80px;
            margin: 0;
        }
        li{
            list-style-type: none;
        }
        a{
            color:#fff;
            text-decoration: none;
            font-size: 21px;
            display: block;padding: 10px 0;
        }
    }
    .header.open .menu-adaptive{
        transform: translateY(100%);
    }
}

@media (max-width:700px){
    section{
        .mini-grants{
            .mini-grants-bg{
                background-image:none;
                box-shadow: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 600px;
                justify-content: space-around;
                .mini-grants-logo{
                    .mini-grants-main-text{
                        margin:0;
                    }
                }
                .mini-grants-text{
                    margin: 0;
                    font-size: 13px;
                }
            }
        }
    }
    section .the-best{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    section .the-best .the-best-places {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 60px;
        gap:50px;
        .cards{
            width: 500px;
            img{
                width: 400px;
            }
        }
    }
    section .the-best .the-best-places .cards p {
        font-size: 16px;
    }
    section .team .team-people {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
        .person{
            img{
                bottom:20px;
            }
        }
        .person-1, .person-2, .person-3{
            img{
                bottom:500px;
            }
            img:hover{
                bottom:500px;
                box-shadow: none;
            }
        }
        .person-4, .person-5, .person-6{
            img{
                bottom: 335px;
            }
            img:hover{
                bottom:335px;
                box-shadow: none;
            }
        }
        .person-4{
            height: 114px;
            margin-top: 50px;
        }
        .person-7{
            img{
                bottom: 170px;
            }
            img:hover{
                bottom:170px;
                box-shadow: none;
            }
        }
    }
}



@media (max-width:700px){
    section .mini-grants{
        padding-top: 280px;
        padding-bottom: 200px;
    }
    section .mini-grants .mini-grants-bg {
        width: 300px;
    }
    section .team .team-people {
        display: grid;
        grid-template-columns: 1fr;
        gap:50px;
    }
    section .team .team-people .person {
        width: 100%;
    }
    section .team .team-people{
        .person-1{
            img{
                bottom:1035px;
            }
        }
        .person-2{
            img{
                bottom:890px;
            }
        }
        .person-3{
            img{
                bottom:745px;
            }
        }
        .person-4, .person-5, .person-6, .person-7{
            margin-top: 0;
        }
        .person-4{
            height: 97px;
            img{
                bottom:595px;
            }
        }
        .person-5{
            img{
                bottom:445px;
            }
        }
        .person-6{
            img{
                bottom:300px;
            }
        }
        .person-7{
            img{
                bottom:155px;
            }
        }
    }
    footer{
        .inner-wrapper{
            display: grid;
            grid-template-columns: 1fr;
            .partners{
                width: 300px;
                margin: 0 auto;
                a{
                    .partner-4, .partner-1{
                        height:auto;
                    }
                   
                }
            }
        }
    }
    .menu-adaptive{
        width: 200px;
        height: 400px;
        top: -460px;
    }
}