@media (max-width:950px) {
    html{
        font-size: 12px;
    }
    footer{
        .inner-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: start;
            justify-content: center;

        }
        .social-links{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:25px;
            .location{
                margin-right: 20px;
            }
            p{
                font-size: 0.7rem;
            }
            .social{
                display: flex;
                flex-direction: row;
            }
            .phone-numbers{
                margin:0;
            }
            .logo{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{
                        display: block;
                    }
                    img{
                        padding: 0;
                    }
                }
                
            }
        }
        .partners{
            display: grid;
            grid-template-columns: 1fr;
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                a{
                    img{
                        display: inline;
                    }
                }
            }
            a{
                img{
                    height: 80px;
                }
            }
        }
    }
    footer .social-links .location {
        margin-right: 0;
    }
}
@media (max-width:920px) {
    svg{
        display: block;
        position: relative;
        float: right;
        z-index:10011; 
    }
    .navigation .navigation-links ul {
        display: none;
    }
    .navigation .lang {
        display: none;
    }
    .menu-adaptive{
        position: absolute;
        display: flex;
        flex-direction: row;
        background-color: #4B2E23;
        width: 350px;
        height: 450px;
        top:-450px;
        right: 40px;
        -webkit-box-shadow: 4px 7px 17px 18px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 4px 7px 17px 18px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 7px 17px 18px rgba(0, 0, 0, 0.3);
        transition: all 1s;
        ul{
            padding-top: 100px;
            padding-left: 20px;
            margin: 0;
        }
        li{
            list-style-type: none;
            color:#fff;
        }
        a{
            color:#fff;
            text-decoration: none;
            font-size: 19px;
            display: inline-block;
            padding: 10px 0;
        }
    }
    .header.open .menu-adaptive{
        transform: translateY(100%);
    }

}
@media (max-width:800px) {
    section .inner-wrapper{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
        img{
            width: 500px;
        }
    }
    section .container-info-page-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        justify-content: center; 
    }
}
@media (max-width:600px) {
    html{
        font-size: 13px;
    }
    section .inner-wrapper{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
    section .container-info-page-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        justify-content: center; 
    }
    section .container-info-page-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 310px;
        justify-content: center; 
    }
}
@media (max-width:700px) {
    footer .social-links .location {
        margin-right: 0;
    }
    

    footer{
        .inner-wrapper{
            display: grid;
            grid-template-columns: 1fr;
            .partners{
                width: 300px;
                margin: 0 auto;
                a{
                    .partner-4, .partner-1{
                        height:auto;
                    }
                   
                }
            }
        }
    }
}
@media (max-width:500px) {
    .menu-adaptive{
        width: 200px;
        height: 475px;
        top: -535px;
    }
}
